<h1>Classroom Info</h1>

<br>

<%= render partial: 'classroom', locals: { classroom: @classroom } %>

<br>

We now want to call out the oldest student in the class:
<%= render partial: 'students/student', locals: { student: @classroom.oldest_student } %>
<<<<<<< HEAD

<br>
<br>

Info for all the students in this class:
<br>

<% @classroom.students.each do |student| %>
  <%= render partial: 'students/student', locals: {student: student} %>
<% end %>



=======
>>>>>>> 060118eee08d1030d4ee4b189c10bc6228ea8df8
